:root {
  --cor0: #130233;
  --cor1: #dbff22;
  --cor3: #6767af;

  --texto-corrido: 'Roboto', sans-serif;
  --titulo: 'M PLUS 1 Code', sans-serif;
  --texto-pequeno: 'Comfortaa', cursive;
  --destaque: 'Dancing Script', cursive;
}

.my-code {
  display: flex;
  height: 85vh;
}

.my-code img {
  width: vw;
}

.list-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 32px 12px 0px;
  text-align: center;
  width: 35vw;
}

.list-code h2 {
  font-weight: 600;
  margin: 32px 8px 32px 8px;
  padding: 4px;
  
}

.list-code ul, li {
  font-family: var(--titulo);
  font-size: 1.4em;
  margin-bottom: 8px;
  padding: 4px;
}

.about h2 {
  color: var(--cor3);
  margin: 64px 8px 64px 8px;
  padding: 4px;
  text-align: center;
}

.about {
  background-color: white;
  display: flex;
  height: 85vh;
}

.img-about {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about img {
  width: 60%;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
  width: 50vw;
}

.text-about p {
  font-size: 1.3em;
  margin-left: 32px;
  padding: 8px;
  width: 80%;
}