  :root {
    --cor0: #130233;
    --cor1: #dbff22;
    --cor3: #6767af;

    --texto-corrido: 'Roboto', sans-serif;
    --titulo: 'M PLUS 1 Code', sans-serif;
    --texto-pequeno: 'Comfortaa', cursive;
    --destaque: 'Dancing Script', cursive;
  }

header {
  align-items: center;
  background-color: var(--cor0);
  display: flex;
  justify-content: center;
  height: 15vh;
}

h1 {
  width: 50vw;
}

.menu {
  width: 50vw;
  margin-right: 32px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu li {
  font-size: 1.4em;
}

.menu a {
  color: white;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  font-family: var(--texto-pequeno);
}